@model IEnumerable<PhotoExhibiter.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h1>Who I Follow</h1>
<ul>
    @foreach (var photographer in Model)
    {
        <li>@photographer.Name</li>
    }
</ul>

