@using PhotoExhibiter.Features.Home
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims 
@inject UserManager<ApplicationUser> UserManager
@model Index.Model

<h1 class="text-center mt-4">@Model.Heading</h1>

  <section>
    <img class="rellax mt-4" data-rellax-speed="2" style="
      filter:brightness(60%);
      background-attachment: fixed;
      background-position: top;
      height:25em; 
      width:100%; 
      position:relative;
      max-width:100%; 
      background-repeat: no-repeat; 
      background-size: cover; 
      background-image:url(/8adac5c1055da0fa43e92af8b89706cc.jpg);"/>

    <div class="container" style="
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      ">
      <h3 class="text-white"> Manhattan is the Modern Age </h3>
    </div>
  </section>
 
  <section class="container">
    <h4 class="text-start">Upcoming Exhibits</h4>
          @await Html.PartialAsync("_Exhibits")
    </div>
  </section>

@section search
{
  <form asp-controller="Exhibits" asp-action="Search">
    <div class="form-horizontal">
      <div id="searchexhibits" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
        placeholder = "Search by Photographer, Genre or Location..." })
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>
}

@section scripts
{
  <script>
    let rellax = new Rellax('.rellax') 
  </script>
}
