@using PhotoExhibiter.Features.Home
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<main class="container mt-4">
  <header>
    <h1 class="text-center text-danger">Error</h1>
    <p class="text-center text-danger">An error occured while processing your
      request.</p>
  </header>
</main>
