@{
    ViewData["Title"] = "Suspended";
}
<main class="container mt-4">
  <header>
    <h1 class="text-center text-danger">@ViewData["Title"]</h1>
    <p class="text-center text-danger">This account has been suspended.</p>
  </header>
</main>
