@{
    ViewData["Title"] = "Access denied";
}

<main class="container mt-4">
  <header>
    <h1 class="text-center text-danger">@ViewData["Title"]</h1>
    <p class="text-center text-danger">This account does not have access to this resource.</p>
  </header>
</main>
