@model PhotoExhibiter.Features.ManageExhibits.ExhibitViewModel
@{
    ViewData["Title"] = "Model.Heading";
}

<h2 class="text-center mt-3 mb-3">@Model.Photographer's exhibit</h2>

<main class="container">
  <div class="row justify-content-center mt-4">

    <div class="col-lg-6 col-sm-12 push-sm-12 px-4">
      <form asp-controller="Exhibits" asp-action="Edit" method="post"
        class="form-group" role="form" novalidate>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" name="Id" type="hidden" value="@Model.Id" />

        <div class="form-group">
          <label for="Location" asp-for="Location"></label>
          <input asp-for="Location" type="text" class="form-control" placeholder =
          "Aperture Gallery" required>
          <div class="invalid-feedback">Please tell us the location!</div>
          <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="input-daterange form-group" id="datepicker">
          <label asp-for="DateTime"></label>
          <input asp-for="DateTime" type="text" class="input-sm form-control"
          placeholder="1 May 2018" style="text-align:left;" required>
          <div class="invalid-feedback" required>Please pick a date!</div>
          <span asp-validation-for="DateTime" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label asp-for="ImageUrl"></label>
          <input for="Image" asp-for="ImageUrl" type="url" class="form-control
          img-inp" placeholder =
          "http://" required>
          <span asp-validation-for="ImageUrl" class="text-danger"></span>
          <div class="invalid-feedback">Please upload and image!</div>
        </div>

        <div class="form-group">
          <label for="IsCanceled" asp-for="IsCanceled"></label>
          <input asp-for="IsCanceled" type="text" class="form-control" placeholder =
          "Aperture Gallery" required>
          <div class="invalid-feedback">Please let us know if the exhibit is
            cancelled!</div>
          <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" asp-action="Index">Go Back</a>
      </form>
    </div>

    <div class="text-center col-lg-6 col-sm-12 px-4">
      @if (String.IsNullOrEmpty(Model.ImageUrl))
      {
         <img src="http://placehold.it/600x400" class="img-target"
         style="max-height:600px; max-width:400px" />
      }
      else
      {
        <img src="@Model.ImageUrl" class="img-target" 
        style="max-heigth:600px; max-width:400px" />
      }
    </div>

  </div>
</main>
