@model IEnumerable<PhotoExhibiter.Entities.Exhibit>

<h2 class="text-center mt-3 mb-3">Manage Exhibits</h2>

<main class="container mt-4">
  <table id="exhibits" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Photographer</th>
            <th>Location</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
  </table>
</main>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#exhibits").DataTable({
                ajax: {
                    url: "/api/manageexhibits",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "id",
                        render: function(data, type, exhibit) {
                            return "<a href='/manageexhibits/edit/" +
                            exhibit.id + "'>" + exhibit.id + "</a>" ;
                       }
                    },
                    {
                        data: "location",
                        render: function(data, type, exhibit) {
                            return "<a href='/manageexhibits/edit/" +
                            exhibit.id + "'>" + exhibit.location + "</a>" ;
                        }
                    },

                    {
                        data: "photographerid",
                        render: function(data, type, exhibit) {
                            return "<a href='/manageexhibits/edit/" +
                            exhibit.id + "'>" + exhibit.photographerId + "</a>" ;
                        }
                    },

                    {
                        data: "genreid",
                        render: function(data, type, exhibit) {
                            return "<a href='/manageexhibits/edit/" +
                            exhibit.id + "'>" + exhibit.genreId + "</a>" ;
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-secondary js-delete' data-exhibit-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });


            $("#exhibits").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this exhibit?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/manageexhibits/" +
                          button.attr("data-exhibit-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
