@model PhotoExhibiter.Features.ManageExhibits.Edit.Command
@{
    ViewData["Title"] = "Manage Exhibits";
}

<h2 class="text-center mt-3 mb-3">Manage Exhibits</h2>

<main class="container mt-4">
  <table id="exhibits" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Photographer</th>
        <th>Location</th>
        <th>Date</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</main>

@section scripts
{
  <script>
    $(document).ready(function () {
      var table = $("#exhibits").DataTable({
        ajax: {
          url: "/api/manageexhibits/",
          dataSrc: ""
        },
        columns: [
        {
          data: "photographer",
          render: function(data, type, exhibit) {
            return "<a href='/ManageExhibits/Details/" +
              exhibit.id + "'>" + 
              exhibit.photographer + "</a>" ;
          }
        },
        {
          data: "",
          render: function(data, type, exhibit) {
            return "<a href='/ManageExhibits/Details/" + 
              exhibit.id + "'>" + 
              exhibit.location + "</a>" ;
          }
        },
        {
          data: "",
          render: function(data, type, exhibit) {
            return "<a href='/ManageExhibits/Details/" + 
              exhibit.id + "'>" + 
              exhibit.date + "</a>" ;
          }
        },
        {
          data: "",
          render: function(data, type, exhibit) {
            return "<a href='/ManageExhibits/Details/" + 
              exhibit.id + "'>" + 
              exhibit.genre + "</a>" ;
          }
        },
        {
          data: "",
          render: function(data, type, exhibit) {
            return "<a class='btn btn-secondary' href='/ManageExhibits/Edit/" + 
              exhibit.id + "'>" + 
              "EDIT" + "</a>" ;
          }
        },
        {
          data: "id",
          render: function(data) {
            return "<button class='btn btn-secondary js-cancel' type='button' data-exhibit-id=" + 
              data + ">CANCEL</button>";
          }
        }
        ]
      });

      $("#exhibits").on("click", ".js-cancel", function () {
        var button = $(this);
        var exhibitId = button.attr("data-exhibit-id");
        bootbox.confirm("Are you sure you want to cancel this exhibit?", function (result) {
          if (result) {
            $.ajax({
              url: '/api/manageexhibits',
              contentType: 'application/json',
              data: JSON.stringify({
                Id: exhibitId 
              }),
              method: "DELETE",
              success: function () {
                    alert('cool')
              }
            });
          }
      });
    });
  });
  </script>
}
