@using PhotoExhibiter.Features.Followees
@model Followees.Model

<h1 class="text-center voffset3">@Model.Heading</h1>

<section class="container">
  <ul class="exhibits voffset4">
    @foreach (var photographer in Model.Photographers)
    {
      <a href="@Url.Action("Index", "Users", new { photographerId =
        photographer.Id })">
        @photographer.Name
      </a> 
    }
  </ul>
</section>

@section search
{
<form asp-controller="Exhibits" asp-action="Search">
    <div class="form-horizontal">
      <div id="searchexhibits" class="input-group">
        @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
        placeholder = "Search by Photographer, Genre or Location..." })
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
  </form>
}
