    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index"
                class="navbar-brand changeFont">
                <img src="/images/logo.png" height="45" class="d-inline-block
                align-bottom" alt="">
                PhotoExhibiter
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Exhibits" asp-action="Create">Add an Exhibit</a>
                </li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </nav>

    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
                _.each(notifications, function(notification){
                    if (notification.type == 1) { %>
                        <li><span class="highlight">
                        <%= notification.exhibit.photographer.name %></span>
                        has canceled the exhibit at
                        <%= notification.exhibit.location %> at
                        <%= notification.exhibit.dateTime %>.</li>
                    <% }
                    else if (notification.type == 2) {
                            var changes = [],
                            originalValues = [],
                            newValues = [];
                         if (notification.originalLocation != notification.exhibit.location) {
                            changes.push('location');
                            originalValues.push(notification.originalLocation);
                            newValues.push(notification.exhibit.location);
                        }
                        if (notification.originalDateTime != notification.exhibit.dateTime) {
                            changes.push('date/time');
                            originalValues.push(notification.originalDateTime);
                            newValues.push(notification.exhibit.dateTime);
                        }
                    %>
                        <li><span class="highlight">
                        <%= notification.exhibit.photographer.name %></span> has changed the
                        <%= changes.join(' and ') %> of the exhibit from
                        <%= originalValues.join('/') %> to <%= newValues.join('/') %></li>
                <%
                }
            })
            %>
        </ul>
    </script>

