@model IEnumerable<PhotoExhibiter.Entities.ApplicationUser>

<h2 class="text-center mt-3 mb-3">Manage ApplicationUsers</h2>

<main class="container mt-4">
  <table id="users" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
     <thead>
       <tr>
         <th>Name</th>
         <th>Edit</th>
         <th>Delete</th>
       </tr>
    </thead>
    <tbody></tbody>
  </table>
</main>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#users").DataTable({
                ajax: {
                    url: "/api/manageusers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function(data, type, user) {
                            return "<a href='/manageusers/edit/" + user.id + "'>" +
                            user.name + "</a>";
                       }
                    },
                    {
                        data: "name",
                        render: function(data, type, user) {
                            return "<a href='/manageusers/edit/" + user.id + "'>" +
                            user.name + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn btn-secondary js-delete' data-user-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#users").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this user?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/manageusers/" + button.attr("data-user-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
