@model IEnumerable<PhotoExhibiter.Entities.ApplicationUser>

<h2 class="text-center mt-3 mb-3">Manage ApplicationUsers</h2>

<main class="container mt-4">
  <table id="users" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
     <thead>
       <tr>
         <th>Email</th>
         <th>Name</th>
         <th>Edit</th>
         <th>Suspend</th>
       </tr>
    </thead>
    <tbody></tbody>
  </table>
</main>

@section scripts
{
  <script>
    $(document).ready(function () {
      var table = $("#users").DataTable({
        ajax: {
          url: "/api/manageusers",
          dataSrc: ""
        },
        columns: [
          {
            data: "",
            render: function(data, type, user) {
              return "<a href='/ManageUsers/Details/" + 
                user.id + "'>" + 
                user.email + "</a>";
           }
          },
          {
            data: "",
            render: function(data, type, user) {
              return "<a href='/ManageUsers/Details/" + 
                user.id + "'>" + 
                user.name + "</a>";
            }
          },
          {
            data: "",
            render: function(data, type, user) {
              return "<a class ='btn btn-secondary' href='/ManageUsers/Edit/" + 
                user.id + "'>" + 
                "EDIT" + "</a>";
            }
          },
          {
            data: "id",
            render: function(data) {
                return "<button class='btn btn-secondary js-suspend' data-user-id=" + data + ">Suspend</button>";
            }
          }
        ]
      });

      $("#users").on("click", ".js-suspend", function () {
        var button = $(this);
        var userId = button.attr("data-user-id");
        bootbox.confirm("Are you sure you want to suspend this user?", function (result) {
          if (result) {
            $.ajax({
              url: '/api/manageusers/',
              contentType: 'application/json',
              data: JSON.stringify({
                Id: userId 
              }),
              method: "DELETE",
              success: function () {
                alert('cool')
              }
            });
          }
        });
      });
    });
  </script>
}
