@using PhotoExhibiter.Features.Users
@model Index.Model
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<form asp-controller="Exhibits" asp-action="Search">
  <div class="form-horizontal">
    <div id="search-exhibits" class="input-group">
      @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control",
      placeholder = "Search by Photographer, Genre or Location..." })
      <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
  </div>
</form>
