`--parser` with value `postcss` is deprecated. Prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser` with value `postcss` is deprecated. prettier now treats it as: `--parser=css`.
`--parser`: `--parser=css`. 

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

span.field-validation-error {
  color: red;
  font-weight: bold;
}

/* Bootstrap Overrides */
.navbar-inverse {
  background-color: #ff4342;
  border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .btn-link {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-brand {
  font-weight: 700;
}

body {
  font-size: 17px;
  padding-top: 70px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Lato;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  font-size: 17px;
  border-radius: 9px;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  /* font-size: 17px; */
  /* padding: 7px 20px; */
  -ms-border-radius: 9px;
  border-radius: 9px;
}

/* Page-level styles */
.gigs {
  list-style: none;
}

.gigs > li {
  position: relative;
  margin-bottom: 30px;
}

.gigs > li .date {
  background: red;
  color: white;
  text-align: center;
  width: 60px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

.gigs > li .date .month {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 6px;
}

.gigs > li .date .day {
  background: #f7f7f7;
  color: #333;
  font-size: 20px;
  padding: 6px 12px;
}

.gigs > li .details {
  position: absolute;
  top: 0;
  left: 70px;
}

.gigs > li .details .photographer {
  font-weight: bold;
  display: block;
}

.gigs > li .details .genre {
  font-size: 15px;
}

.navbar-inverse .navbar-toggle {
  border-color: #ff4342;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: rgba(205, 40, 39, 0.55);
}
