@using PhotoExhibiter.Features.Exhibits
@model Create.Command
@{
    ViewData["Title"] = "Model.Heading";
}

<h2 class="text-center mt-2">@Model.Heading</h2>

<main class="container">
  <div class="row mt-4">
    <div class="col-lg-6 col-sm-12 push-sm-12 px-4">

      <form method="post" enctype="multipart/form-data"
        asp-controller="Exhibits" asp-action="Create" class="form-group"
        role="form" novalidate>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
          <label for="Location" asp-for="Location"></label>
          <input asp-for="Location" type="text" class="form-control" placeholder =
          "Aperture Gallery" required>
          <div class="invalid-feedback">Please tell us the location!</div>
          <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="input-daterange form-group" id="datepicker">
          <label asp-for="Date"></label>
          <input asp-for="Date" type="text" class="input-sm form-control"
          placeholder="1 May 2018" style="text-align:left;" required>
          <div class="invalid-feedback" required>Please pick a date!</div>
          <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group">
          <label asp-for="GenreId"></label>
          <select asp-for="GenreId" class= "form-control" 
            asp-items="@(new SelectList(Model.Genres, "Id", "Name"))" required> 
          </select>
          <div class="invalid-feedback">Please select a genre!</div>
        </div>

        <div class="form-group">
          <label asp-for="ImageUrl"></label>
          <label class="btn btn-primary">
            Choose File 
            <input name="ImageUpload" class="img-inp" type="file"
            style="display: none"/>
          </label>
          <div class="invalid-feedback">Please upload and image!</div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>

    <div class="text-center col-lg-6 col-sm-12 px-4">
      <br>
      <img class="img-target" src="http://placehold.it/600x400" alt="your image" style="max-height:600px; max-width:400px;" />
    </div>
  </div>
<main/>
