export PROJECT_HOME="$HOME/DotNetProjects/PhotoExhibiter/src"
export ASPNETCORE_ENVIRONMENT=Development

export AppSettings__AdminEmail="admin@email.com"
export AppSettings__AdminPassword="P@ssw3rd!"

export ConnectionStrings__ApplicationConnectionString="Server=172.17.0.4;Port=3306;Database=photoexhibiter;Uid=root;Password=P@ssw0rd!;"
