@using PhotoExhibiter.Features.Users
@model Index.Model
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<div class="modal fade" id="update_profile" tabindex="-1" role="dialog"
  aria-labelledby="update_profile_title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h5 class="modal-title" id="update_profile_title">
          Please Enter Photo URL</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container-fluid text-center">
        <div>
        @if (String.IsNullOrEmpty(Model.ImageUrl))
        {
           <img src="http://placehold.it/200" class="img-target img-thumbnail my-2" alt="your image" />
        }
        else
        {
           <img src="@Model.ImageUrl" class="img-target img-thumbnail my-2" />
        }
        </div>

        <form method="post" enctype="multipart/form-data"
          asp-controller="Users" asp-action="Update" role="form"
          class="text-left my-2" novalidate>

          <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <label class="btn btn-primary">
              Choose File 
              <input name="ImageUpload" class="img-inp" type="file"
              style="display: none"/>
            </label>
            <div class="invalid-feedback">Please upload and image!</div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <div>
        </form>
      </div>
    </div>
  </div>
</div>
