@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";

@import "~font-awesome/scss/font-awesome.scss";

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

@import "ekko-lightbox/dist/ekko-lightbox.css";
@import "bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css";

// .form-control:focus {
//     color: #495057;
//     background-color: #fff;
//     border-color: #80bdff;
//     outline: none;
//     /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */

.form-control:focus {
  border-color: #999;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,100,.6);
} 

/* QR code generator */
#qrCode {
	margin: 15px;
}

span.field-validation-error {
	color: red;
	font-weight: bold;
}

.voffset {
	margin-top: 2px;
}

.voffset1 {
	margin-top: 5px;
}

.voffset2 {
	margin-top: 10px;
}

.voffset3 {
	margin-top: 20px;
}

.voffset4 {
	margin-top: 40px;
}

.voffset5 {
	margin-top: 80px;
}

/* Bootstrap Overrides */

.changeFont {
	font-family: "Noto Sans", sans-serif;
	border-bottom-width: 26px;
	padding-bottom: 20px;
	padding-top: 6px;
}

body {
	font-size: 17px;
	padding-top: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Lato;
}

.bg-light {
	background-color: #ffffff !important;
}

/* Page-level styles */
$grey: #7A8590 + 20;

.popover-notifications .popover-content {
	padding: 0;
}

.popover-notifications ul.notifications {
	list-style: none;
	padding-left: 0;
}

.popover-notifications ul.notifications > li {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.popover-notifications ul.notifications > li:last-child {
	border-bottom: none;
}

.popover-notifications ul.notifications .highlight {
	font-weight: bold;
}

.nav-item li {
	white-space: nowrap;
}
