@import "~bootstrap/scss/bootstrap.scss";

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* QR code generator */
#qrCode {
	margin: 15px;
}

span.field-validation-error {
	color: red;
	font-weight: bold;
}

.voffset {
	margin-top: 2px;
}

.voffset1 {
	margin-top: 5px;
}

.voffset2 {
	margin-top: 10px;
}

.voffset3 {
	margin-top: 20px;
}

.voffset4 {
	margin-top: 40px;
}

.voffset5 {
	margin-top: 80px;
}

/* Bootstrap Overrides */
.navbar-inverse {
	background-color: #ff4342;
	border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-inverse .btn-link {
	color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: rgba(205, 40, 39, 0.55);
}

.dropdown-menu {
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.changeFont {
	font-family: "Noto Sans", sans-serif;
	border-bottom-width: 26px;
	padding-bottom: 20px;
	padding-top: 6px;
}

body {
	font-size: 17px;
	padding-top: 10px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: Lato;
}

h2 {
	margin-top: 20px;
}

.form-group {
	margin-bottom: 20px;
}

.form-control {
	font-size: 17px;
	border-radius: 9px;
}

.form-control:focus {
	box-shadow: none;
}

.btn {
	/* font-size: 17px; */
	/* padding: 7px 20px; */
	-ms-border-radius: 9px;
	border-radius: 9px;
}

.navbar-inverse .navbar-toggle {
	border-color: #ff4342;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: rgba(205, 40, 39, 0.55);
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: rgba(205, 40, 39, 0.55);
}

.bg-light {
	background-color: #ffffff !important;
}

/* Page-level styles */
.exhibits {
	list-style: none;
}

.exhibits > li {
	position: relative;
	margin-bottom: 30px;
}

.exhibits > li .date {
	background: #fd5d5d;
	color: white;
	text-align: center;
	width: 60px;
	-ms-border-radius: 8px;
	border-radius: 8px;
}

.exhibits > li .date .month {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 6px;
}

.exhibits > li .date .day {
	background: #f7f7f7;
	color: #333;
	font-size: 20px;
	padding: 6px 12px;
}

.exhibits > li .details {
	position: absolute;
	top: 0;
	left: 70px;
}

.exhibits > li .details .photographer {
	font-weight: bold;
	display: block;
}

.exhibits > li .details .genre {
	font-size: 15px;
}

.exhibits > li .actions {
	font-size: 15px;
	display: none;
}

.exhibits > li:hover .actions {
	display: block;
}

.navbar-inverse .notifications {
	position: relative;
}

.navbar-inverse .notifications .badge {
	position: absolute;
	top: 8px;
	right: -1px;
	background: #a80a0a;
}

.popover-notifications .popover-content {
	padding: 0;
}

.popover-notifications ul.notifications {
	list-style: none;
	padding-left: 0;
}

.popover-notifications ul.notifications > li {
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.popover-notifications ul.notifications > li:last-child {
	border-bottom: none;
}

.popover-notifications ul.notifications .highlight {
	font-weight: bold;
}
